{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "parser": "@typescript-eslint/parser",
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "import/extensions": [".js", ".jsx", ".ts", ".tsx", ".vue"]
    },
    "plugins": [
        "vue",
        "@typescript-eslint"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/ban-types": "off",
        "object-shorthand": "off",
        "no-eq-null": "error",
        "no-eval": "off"
    },
    "overrides": [
        {
            "files": ["*.vue"],
            "rules": {
                "vue/valid-template-root": "off",
                "vue/component-name-in-template-casing": ["error", "kebab-case"],
                "vue/require-default-prop": "off",
                "vue/multi-word-component-names": "off",
                "vue/no-reserved-props": "off",
                "vue/no-v-html": "off",
                "vue-scoped-css/enforce-style-type": ["off", { "allows": ["scoped"] }]
            }
        },
        {
            "files": ["*.ts", "*.tsx"],
            "rules": {
                "constructor-super": "off",
                "no-const-assign": "off",
                "no-import-assign": "off",
                "no-new-symbol": "off",
                "no-obj-calls": "off",
                "no-redeclare": "off",
                "no-setter-return": "off",
                "no-this-before-super": "off",
                "no-undef": "off",
                "no-unreachable": "off",
                "no-unsafe-negation": "off",
                "no-var": "error",
                "prefer-const": "error",
                "prefer-rest-params": "error",
                "prefer-spread": "error",
                "valid-typeof": "off"
            }
        }
    ]
}
